#b {
  padding-top: 30px !important;
  padding-bottom: 24px !important;
}
.summary-panel {
  position: sticky;
  height: 30%;
  width: 100%;
}
.footer_panel {
  display: flex;
  justify-content: space-between;
}
.header-panel {
  display: flex;
  justify-content: space-between;
}
