#b {
  padding-top: 30px !important;
  padding-bottom: 24px !important;
}

#f {
  position: fixed;
  bottom: 0;
  height: 24px;
  z-index: 1001;
}

#h {
  position: fixed;
  top: 0;
  height: 30px;
  z-index: 1002;
}
